*{
    size: 18px;
    line-height: 20px;
    text-wrap: wrap;
    padding: 1.5em;
    
    margin: 0;
    border: 0;
    color: aliceblue;
    box-sizing: border-box;
}
section{
 
    padding: 1rem;
}
.diagonal{
    
    position: relative;
}
.diagonal::after{
    content: '';
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(45deg,rgb(248, 204, 7),orange);
    inset: 0;
    transform: skewY(-5deg);
    
}
body{
    background-color: rgb(16, 16, 110);
}